@import "config"; 

$btn-nums: 1, 2, 3, 4;

@each $btn-num in $btn-nums{
    .btn-#{$btn-num} {
        display: $flex-display;
        background-color: $btn-color;
        padding: $btn-padding;
        border-radius: $btn-radius;
        font-size: $btn-font-size;
            &:hover{
                background-color: $hover-color ;
                transform: $hover-scale;
            }
    }
}