$btn-color:rgb(52, 228, 169);
$correct-color: green;
$incorrect-color:red;
$tone1-color: #bddfe4;
$tone2-color: #696f70;
$flex-display: flex;
$center-align: center;
$btn-padding: 15px 32px;
$btn-radius: 75%;
$btn-font-size: 15px;
$bolder-font-weight: bolder;
$hover-color:rgb(180, 241, 221);
$hover-scale: scale(.80);

