
@function text-color-picker($color) {
    @if(lightness($color) > 70) {
      @return black;
    } @else {
      @return white;
    }
  }

@function fade-time($input){
  @if ($input <= 4){
    @warn 'This fade will not present';
    $input: 4;
  }
  @return $input
}
@mixin sprite-hover(){
    transition: transform 250ms ease-in-out;
    opacity:0;
}

@mixin justifyandalign(){
    align-items: center;
    justify-content: center;
}

@mixin score-up(){
    transform:scale(2);
    color: red;
}

  @mixin set-bg($color) {
    background-color: $color;
    color: text-color-contrast($color)
  }

