@import "btnConfig";
@import "config";
@import "liConfig";
@import "utilities";


body {
    @include set-bg(#8EDCE6);

    nav ul {
        text-align: $center-align;
    }
    .mainScreen {
        border-radius: 5%;
        border: 1px solid white;
        padding: 1em;
        min-height: 500px;
        background-color: #bddfe4;    
            .container {
            display:$flex-display;
            justify-content: space-between;
                .sprite {
                    display:$flex-display;
                    animation:fadeIn 4s;
                        &:hover {
                            opacity:0;

                            // @include sprite-hover();
                        }
                    
                }
                .score {
                    display:$flex-display;
                    align-items: right;
                    justify-content: $flex-display;
                    font-weight: $bolder-font-weight;
                    padding-right: 40px;
                    font-size: 30px;
                    animation:fadeIn 4s;
                        &:hover{
                            @include score-up();
                        }
                        
                }
            }     
            .prompts {
                display:$flex-display;
                text-align: $center-align;
                @include justifyandalign();
                animation:fadeIn 3s;
                font-size: $btn-font-size;
            }
            .responseBtns {
                display: $flex-display;
                @include justifyandalign();
            }
    }
}
@keyframes fadeIn {
    0% { opacity:0;}
    100% {opacity:1;}
}

